version: '3.7'

services:
  supergsl:
    container_name: supergsl
    tty: true
    build:
      dockerfile: Dockerfile
      context: .
    volumes:
      - .:/code/


  # fGSL helpful docker container.
  # Run the original GSL in a docker container. This may be useful for debugging
  # purposes.

  fgsl:
    container_name: fgsl
    tty: true
    build:
      dockerfile: Dockerfile
      context: supergsl/plugins/fgsl/
